/**
 * TYPESIZE
 * 
 */
$base-font-size: 16;

/**
 * COLORS
 * 
 */
$dark-gray: #505962;
$light-gray: #9E9E9E;
$dim-black: #333;
$light-orange: #DD7373;
$pinkyji: #E5689C;
/**
 * TYPEFACES
 * 
 */
 $primary-sans-serif: "proxima nova", helvetica, sans-serif;
 $primary-sans-serif-con: "proxima nova alt condensed", sans-serif;
